<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <!-- <title>Bootstrap</title> -->

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href= "static/css/business-frontpage.css">
  
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Indagator</a>
        
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href = " index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=" AI">AI</a> <!-- this page links to the upload page -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href=" About">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
          
        <div class="row-fluid">
        <div class="span8">    
             
        <br>
             <br>
                <br>
                    <br>
                
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12079.719362683238!2d-73.9625727!3d40.8075355!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x577933f947e52750!2sColumbia+University!5e0!3m2!1sen!2sus!4v1508034474975" width="600" height="450" frameborder="0" style="border:0" allowfullscreen> </iframe>
        
        </div>
            
        <h2 class="mt-4">Contact Us</h2>
          <address>
            <strong>Fu Foundation School of Engineering and Applied Science</strong>
            <br>500 W 120th St #510
            <br>New York, NY 10027
            <br><abbr title="Phone">P:</abbr>
            (123) 456-7890
            <br><abbr title="Email">E:</abbr>
            <a href="mailto:#">name@example.com</a>
          </address>
        
        </div>     
        </div>
    
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
        
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/popper/popper.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
